.App {
    font-family: sans-serif;
}

.App > section {
    display: flex;
    align-items: flex-end;
}

.reviewer {
    display: flex;
    align-items: center;
}

.pull-requests {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-evenly;
}

.repository-picker, .date-picker {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
}