.App {
  font-family: sans-serif;
  text-align: center;
}

.reviewer {
  display: flex;
  align-items: center;
}

.pull-requests {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-evenly;
}

